html, body {
  overflow-y:hidden;
  height:100%;
}
.attack {
	margin-right: 12%;
	text-align: center;
	bottom: 0; 
	margin-bottom: 360px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 3;
	opacity: 1;
	width: 60px;
}
.attack:hover {
	opacity: 0;
	cursor: pointer;	
}
body {
	width: 100%;
	color: white;
	overflow: hidden;
	position: relative;
}
#but:hover {
	cursor: pointer;
}
button {
	cursor: pointer;
	display: block;
	margin-top: 10px; 
}
#char {
	clear: both;
}
.chosenEnemy {
	margin-top: 125px;
	opacity: 1;
	margin-bottom: 45px;
}
#enemyAvail {
	clear: both;
	margin-top: 80px;

}
#enemyCh {
	clear: both;
}
#f1, #f2, #f3, #f4 {
	background-color: #ad9878;
	color: white;
	/*font-weight: bold;*/
	font-family: 'Bungee Hairline', cursive;
	font-size: 14px;
}
#f1:hover, #f2:hover, #f3:hover, #f4:hover {
	cursor: pointer;
	/*background-color: #5b9cdd;*/
	background-color: #474747;
}
#flyW {
	color: white;
}
#init {
	padding-top: 300px;
	margin-top: 0px;
	font-size: 24px;
	color: white;
	text-align: center;
	position: absolute;
	height: 776px;
	width: 100%;
	z-index: 8;
	font-family: 'Rasa', serif;
	background-color: black;
}
#initcontain {
	position: relative;
}
#letScroll {
	color: white;
	clear:both;
	position: fixed;
	z-index: 2;
	bottom: 290px;
	left: 0;
	right: 0;
	font-family: 'Bungee Hairline', cursive;
}
#makeMeScrollable {
	width:100%;
	height: 330px;
	position: relative;
}
/* Replace the last selector for the type of element you have in
your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
		   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea div
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
/* If you don't want the images in the scroller to be selectable, try the following
block of code. It's just a nice feature that prevent the images from
accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#myAtt {
	color: white;
	float: left;
	position: fixed;
	bottom: 0;
	margin-bottom: 270px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Share Tech Mono', monospace;
	margin-left: 10px;
}
#oppAtt {
	margin-bottom: 465px;
	color: white;
	margin-left: 83%;
	float: right;
	position: fixed;
	bottom: 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Share Tech Mono', monospace;
}
.progress {
	background-color: #cccccc;
}
#progressContain {
	position: fixed;
	bottom: 0;
	margin-bottom: 100px;
	width: 100%;
}
.remainEnemy {
	opacity: .4;
}
#reset {
	background-color: transparent;
	color: white;
	position: fixed;
	/*bottom: 0;
	left: 0;
	right: 0;*/
	z-index:-1;
	width: 100%;
	/*margin-left: 47%;*/
	/*margin-left: 74%;*/
	/*margin-bottom: 395px;*/
	opacity: 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 500px;
}
/*#reset:hover {
	cursor: pointer;
	opacity: 1;
}*/
#sym1 {
	margin-left: 42%;
	margin-bottom: 360px;
}
#sym2 {
	margin-left: 29.5%;
	margin-bottom: 345px;
}
#sym3 {
	margin-left: 36.5%;
	margin-bottom: 345px;
}
#sym4 {
	margin-left: 56%;
	margin-bottom: 365px;
}
#sym5 {
	position: fixed;
	bottom: 0; 
	/*left: 0;*/
	right: 0;
	z-index: 3;
	opacity: 1;
	/*margin-left: 73%;*/
	/*margin-bottom: 365px;*/
}
#sym5:hover {
	opacity: 1;
	cursor: pointer;
	-webkit-filter: invert(100%);
	filter: invert(100%); /*sepia, hue-rotate, invert....*/
	z-index: 10;	
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background-size: cover;
  	transition: 1s opacity;
}
#youWon {
	padding-top: 200px;
	margin-top: 0px;
	font-size: 24px;
	color: white;
	text-align: center;
	position: absolute;
	height: 435px;
	width: 100%;
	z-index: -1;
	font-family: 'Rasa', serif;
	background-color: black;
	opacity: 0;
}













